body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: white;
}

#greeting {
  position: absolute;
  top: 260px;
  width: 100%;
  text-align: center;
  font-size: 28px;
}

#clock {
  position: absolute;
  top: 176px;
  width: 100%;
  text-align: center;
  font-size: 85px;
}
.shortcuts {
  position: fixed;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transition: .3s;
}

#shortcutToggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

#editShortcutBtn {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

/* MODAL */
#editModal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
}

.modal-box {
  background: #111;
  padding: 15px;
  width: 320px;
  margin: 80px auto;
}

.shortcut-row {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.shortcut-row input {
  flex: 1;
}
