body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #938410;
}

#greeting {
  position: absolute;
  top: 263px;
  width: 100%;
  text-align: center;
  font-size: 28px;
}

#clock {
  position: absolute;
  top: 162px;
  width: 100%;
  text-align: center;
  font-size: 85px;
}

.search {
  position: absolute;
  top: 312px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#search {
  width: 285px;
  padding: 12px 20px;
  font-size: 16px;
  text-align: center;
  border-radius: 35px;
  border: none;
  outline: none;
  background: rgba(104, 101, 101, 0.84);
  color: #938410;
  backdrop-filter: blur(20px);
}

#search::placeholder {
  color: #fff;
  position: fixed;
}

.shortcuts {
  position: fixed;
  bottom: 15px;
  left: 50px;
  opacity: 0;
  transition: .3s;
}

#shortcutToggle {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
}

#editShortcutBtn {
  position: fixed;
  bottom: 50px;
  left: 10px;
}

/* MODAL */
#editModal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
}

.modal-box {
  background: #111;
  padding: 15px;
  width: 370px;
  margin: 100px auto;
}

.shortcut-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.shortcut-row input {
  flex: 1;
}
